<section id="home" class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t :"Lauren_&_Dan" %></h1>
    <p class="leader-date">
      <%= t :Test %>, <%= t :Test %>
    </p>
        <button type="button" 
                class="btn btn-lg btn-danger" 
                data-bs-toggle="popover" 
                title="Popover title" 
                data-bs-content="Amazing content, right ?">
                Click to toggle popover
        </button>
        <div class="btn-group">
	  <%= button_to "Guests", guests_path, :method => :get, class: "btn btn-primary btn-lg" %> 
                </button>
        </div>
</section>
